@import 'normalize.css';
:root {
    --primary: #ef893b;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --title-color: #337ab7;
    --title-hover-color: #23527c;
    --notification-color: #f8312f;
    --heading: #555555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
//Font emebed
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    // color: var(--text-color);
    text-decoration: none;
}

//Custom tippy tooltip
body {
    padding: 0 32px;
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.992);
        font-size: 1.6rem;
        line-height: 2.2rem;
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.992);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
body.no-padding {
    padding: 0; // Loại bỏ padding cho trang Dashboard
}

// --------------Responsive----------------
@media only screen and (max-width: 960px) {
    .banner-container {
        display: inline;
    }

    .home-button {
        display: none;
    }

    // menu respon
    .navigation {
        position: relative;
    }
    .menu-btn {
        display: flex;
    }

    .menu-list {
        display: block;
        position: absolute;
        bottom: -42px;
        width: 100%;
    }

    .menu-list-item {
        background-color: #ececec;
        border-top: 1px solid #999;
    }

    .inner-banner {
        margin-top: 10px;
    }

    .contentHomePage .news {
        display: inline;
    }

    .contentHomePage .news .newsMain,
    .contentHomePage .news .wrappRight {
        width: 100%;
    }

    .logoSidebar .imgLogoSidebar {
        width: 150px;
    }

    .sidebar-post {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    .headline-left {
        width: 90px;
    }
    .headline-left::after {
        left: 82px;
    }

    .headline-right {
        width: calc(100% - 106px);
    }

    .headline-title {
        font-size: 16px;
    }

    .contentHomePage .news .wrappRight {
        display: inline;
    }

    .contentHomePage .news .wrappRight .logoSidebar {
        gap: 14px;
    }

    .logoSidebar .imgLogoSidebar {
        width: 47%;
    }

    .content-news-layout {
        display: inline;
    }

    .content-news-layout .details {
        padding: 0 20px;
    }

    .contact .wrappInputContact {
        display: inline;
    }

    .contact .innerContact {
        padding: 0 12px;
    }

    .contact .contactLeft {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact .contactRight {
        width: 100%;
    }

    .contactRight-title {
        text-align: center;
    }

    .inner-banner {
        display: inline;
    }
}
