.library-container {
    /* padding: 20px; */
    /* text-align: center; */
}

.library-heading {
    font-size: 30px;
    margin: 40px 0 20px 10px;
}

.library-list {
    margin: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    justify-items: center;
    margin-top: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}

.image-item img {
    width: 345px;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-item:hover img {
    transform: scale(1.1);
}

.library-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal nội dung */
.modal-content-library {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 60%;
    max-height: 100%;
    overflow: hidden;
}

/* Các nút chuyển ảnh */
.modal-prev,
.modal-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.modal-prev {
    left: 10px;
}

.modal-next {
    right: 10px;
}

/* Nút đóng modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Hình ảnh trong modal */
.modal-image {
    width: 100%; /* Chiếm hết chiều rộng của modal */
    height: auto; /* Giữ tỷ lệ gốc của ảnh */
    object-fit: contain; /* Giữ nguyên tỷ lệ của ảnh, không bị cắt */
}
