.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.searchInput {
    width: 50%;
    text-align: center;
    line-height: 26px;
}

.SearchWrapper {
    margin-top: 20px;
}

.searchButton {
    background-color: var(--primary);
    color: white;
    padding: 4px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

    .searchButton:hover {
        background-color: rgb(135, 117, 29);
    }
}

.searchTitle {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 2px solid var(--primary);
}

.searchPost {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.searchPost:first-child {
    padding-top: 0;
}

.searchPost:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.searchResults {
    margin: 20px 0;
}

.searchItemImage {
    width: 376px;
    height: 250px;
    object-fit: cover;
}

.searchItemContent {
    flex-grow: 1;
    margin: 10px;
}

.dFlex {
    display: flex;
}

.justifyContentBetween {
    justify-content: space-between;
}

.alignItemsCenter {
    align-items: center;
}

.searchTitlePost {
    font-size: 20px;
    font-weight: 700;
    color: var(--title-color);
    display: block;
}

.searchDescriptionPost {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

.infoPost {
    display: flex;
    margin-top: 40px;
}

.searchInfoIcon {
    margin: auto 0;
}

.searchInfoView {
    margin: 0;
}
