.d-flex {
    display: flex;
    align-items: flex-start;
}

.sidebar-category {
    border: 1px solid var(--primary);
    border-radius: 2px;
    width: 250px;
}

.breadcrumb-item {
    font-size: 12px;
}

.title-category {
    font-size: 30px;
    margin: 40px 0 20px 10px;
}

.category-heading {
    padding: 8px 10px;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-bottom: 1px solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
}

.category-list {
    padding: 0;
    margin: 0;
}

.list-item {
    padding: 6px 10px;
    cursor: pointer;
}

.list-item a {
    display: block;
    color: var(--title-color);
    font-weight: 600;
}

.list-item a:hover {
    color: var(--title-hover-color);
}

.main-content {
    flex-grow: 1;
    padding: 0 20px 20px;
}

/* Pagination */
.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.posts-list {
    padding-bottom: 20px;
}

.posts-list:nth-last-child() {
    border-bottom: none;
}

.post-item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.post-item:first-child {
    padding-top: 0;
}

.post-item:last-child {
    padding-bottom: 0;
}

.post-item:last-child {
    border-bottom: none;
}

.post-image {
    width: 376px;
    margin-right: 20px;
}

.post-details {
    flex: 1;
}

.category-post-title {
    font-size: 22px;
    font-weight: 600;
}

.category-post-content {
    font-size: 16px;
    width: 762px;
    font-weight: 300;
}
