/* Container cho nút Add New */
.add-new-container {
    text-align: right;
    margin-bottom: 20px;
}

.post-management {
    padding: 20px;
}

.post-management-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.btn-add-new {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add-new:hover {
    background-color: #218838;
}

.post-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
}

.post-table th,
.post-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    font-size: 14px;
}

.post-table td.title-column {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.post-table tbody tr:hover {
    background-color: #e9ecef;
}

.status-btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.status-btn.open {
    background-color: #28a745;
}

.status-btn.close {
    background-color: #dc3545;
}

.btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
